.generalDetails {
    display: flex;
    flex-wrap: wrap;
}

.movieContainer {
    display: flex;
    align-items: flex-start;
    /* Align items to the start of the cross axis */
    margin-bottom: 20px;
    margin-top: 20px;
}

.poster img {
    width: 100%;
    /* Ensure the image fills its container */
    max-width: 350px;
    /* Limit the image width to 300px */
    height: auto;
    /* Maintain aspect ratio */
}


.otherDetails {
    flex: 1;
    padding-left: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.otherDetails h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.otherDetails p {
    margin: 0;
    text-align: left;
    line-height: 1.5;
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

.ratingDetails .otherDetails {
    padding-top: 20px;
}

.otherDetails .overAllRating p {
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
}

#rat {
    margin-top: 20px;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center items vertically */
    margin-top: 10px;
    flex-direction: row-reverse;
    /* Reverse the order of stars */
}

.stars input {
    display: none;
}

.stars label {
    cursor: pointer;
    color: #ccc;
    cursor: pointer;
    margin: 0 3px;
}

.stars label:before {
    content: '\2605';
    font-size: 25px;
}

.stars input:checked~label,
.stars input:checked~label:before {
    color: #ffc107;
}

.stars input:checked~label.half::before {
    content: '☆';
    position: relative;
    color: #FFD700;
}


/*slider*/
.relatedMoviesSlider,
.clipsSlider,
.relatedPeopleSlider {
    display: flex;
    align-items: center;
}

.relatedMoviesSlider button,
.clipsSlider button,
.relatedPeopleSlider button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 0 10px;
}

.relatedMoviesSlider button:hover,
.clipsSlider button:hover,
.relatedPeopleSlider button:hover {
    color: red;
}

.relatedMoviesSliderContainer,
.clipsSliderContainer,
.relatedPeopleSliderContainer {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.relatedMoviesSliderContainer::-webkit-scrollbar,
.clipsSliderContainer::-webkit-scrollbar,
.relatedPeopleSliderContainer::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.relatedMoviesSliderContainer,
.clipsSliderContainer,
.relatedPeopleSliderContainer {
    overflow: hidden;
    /* Prevent scrolling */
}

.relatedMoviesItem,
.clipsItem,
.relatedPeopleItem {
    flex: 0 0 auto;
    padding: 0 10px;
    text-align: center;
}

.relatedMoviesItem img,
.relatedPeopleItem img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.relatedMoviesItem img:hover,
.relatedPeopleItem img:hover {
    transform: scale(1.05);
}

.relatedMoviesItem img,
.relatedMoviesItem p,
.relatedPeopleItem p,
.relatedPeopleItem img {
    cursor: pointer;
    transition: .7s;
}

.relatedPeopleHeading,
.clipsHeading,
.relatedMoviesHeading {
    margin-top: 50px;
}

/*Comment section*/
.comments-heading {
    text-align: center;
    margin-top: 50px;
  }
  
  .comments-container {
    border-radius: 5px;
    margin: 0 auto;
    width: 60%;
    max-height: 400px; /* Set a maximum height */
    overflow-y: auto; /* Add vertical scrollbar when content exceeds max height */
}

  
  .comment-entry {
    margin-bottom: 0.5rem;
  }
  
  .comment-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem; /* Updated padding */
    background-color: #f9f9f9;
  }

  .userr {
    margin: 0;
  }
  
  .user-name {
    font-weight: bold;
    margin: 0;
    text-decoration: underline;
    text-transform: capitalize; /* Capitalize the first letter */
}

  
  .comment {
    margin: 0; /* Removed margin-top */
    word-wrap: break-word;
  }
  
  .comment-input {
    margin-top: 1rem;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 100%; /* Take full width of the container */
  }
  
  #commentField {
    flex: 1;
    resize: vertical;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 70%;
  }
  
  
  
  #commentPostButton {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0;
  }  