.stars {
    display: inline-block;
    font-size: 25px;
}

.stars input {
    display: none;
}

.stars label {
    float: right;
    cursor: pointer;
    color: #ccc;
}

.stars label:before {
    content: '\2605';
}

.stars input:checked~label,
.stars input:checked~label:before {
    color: #ffc107;
}

.stars input:checked~label.half::before {
    content: '☆';
    position: relative;
    color: #FFD700;
}