.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainBgColor {
    background-color: #0c1e25;
    width: 100%;
}

.secondaryBgColor {
    background-color: #fff;
    width: 100%;
}

.movies-container img {
    width: 350px;
    height: 550px;
    margin: 25px 0px 4px 15px;
    border-radius: 18px;
}

.movies-container h3 {
    text-align: center;
}

.movies-container img:hover {
    transform: scale(1.05);
}

.titleColorDark {
    color: #fff;
}

#container {
    position: relative;
}

#smaller-Text {
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.movies-container h3,
.movies-container img {
    cursor: pointer;
    transition: .7s;
}