.mainContaoner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 40px;
}

.addMovie,
.addPeople,
.controls {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    box-sizing: border-box;
}

.addMovie h1,
.addPeople h1,
.controls h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    border-bottom: black solid 2px;
    padding-bottom: 20px;
}

.addMovie form,
.addPeople form,
.controls form {
    padding: 20px;
}

.addMovie label,
.addPeople label,
.controls label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.addMovie input,
.addPeople input,
.addMovie textarea,
.controls input,
.controls select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.addMovie button,
.addPeople button,
.controls button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.addMovie button:hover,
.addPeople button:hover,
.controls button:hover {
    background-color: #0056b3;
}

.controls div {
    margin-top: 25px;
}

.controls select {
    width: 100%;
}

@media screen and (min-width: 768px) {

    .addMovie,
    .addPeople,
    .controls {
        flex-basis: calc(33.33% - 20px);
        margin-right: 20px;
    }
}